@charset "UTF-8";
/* INÍCIO - Layout moodle */
.path-mod-page {
  /* Esconder elementos padrão do Moodle acima do menu */
  /* Esconder Borda Padrão do Moodle da área do conteúdo */
  /* Fundo área de navegação */
  /* FIM - Layout moodle */
}
.path-mod-page .pagelayout-course .headerbkg {
  display: none;
}
.path-mod-page .pagelayout-course div#learningcontent {
  margin-top: 0 !important;
}
.path-mod-page div#page-content,
.path-mod-page #region-main-box,
.path-mod-page #region-main {
  padding: 0;
}
.path-mod-page #region-main {
  overflow-x: visible;
}
.path-mod-page #region-main div[role=main] > h2 {
  display: none;
}
.path-mod-page #region-main div[role=main] > .modified {
  display: none;
}
.path-mod-page #page-header > div > div > div > div > div.mr-auto,
.path-mod-page #page-header > div > div > div > div.d-flex.flex-wrap,
.path-mod-page h3.sectionname,
.path-mod-page #completionprogressid {
  display: none;
}
.path-mod-page .course-content ul.topics li.section,
.path-mod-page .course-content ul.weeks li.section {
  padding-top: 0;
  padding-bottom: 0;
}
.path-mod-page .course-content ul.topics li.section .content {
  border: 0;
}
.path-mod-page #section-0 > div.content > div.summary {
  background-color: #ffffff;
  padding: 0;
}
.path-mod-page .editing .course-content ul.topics li.section .left,
.path-mod-page .editing .course-content ul.topics li.section .right {
  padding: 0;
}
.path-mod-page .botao-cta {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 6px 4px 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  background: #FFFFFF;
  cursor: pointer;
}
@media only screen and (min-width: 576px) {
  .path-mod-page .botao-cta {
    padding: 8px 10px 8px 16px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .path-mod-page .botao-cta {
    font-size: 30px;
  }
}
.path-mod-page .caixa-info {
  padding: 8px 40px;
  gap: 8px;
  background: #063E70;
  border-radius: 48px;
  color: #FFFFFF;
  box-shadow: 0px 6px 0px 0px #AADC80;
  -webkit-box-shadow: 0px 6px 0px 0px #AADC80;
  -moz-box-shadow: 0px 6px 0px 0px #AADC80;
}
.path-mod-page #curso-confirma-inscricao {
  position: relative;
  font-family: "Lato", sans-serif;
  height: 1432px;
  background-image: url("../imagens/bg_imagem_1.png"), url("../imagens/bg_textura_1.jpg");
  background-repeat: no-repeat;
  background-position: right bottom 140px, center top;
}
.path-mod-page #curso-confirma-inscricao.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 469px;
  margin: 0 auto;
  padding: 28px;
}
@media only screen and (min-width: 992px) {
  .path-mod-page #curso-confirma-inscricao.container-fluid {
    padding: 56px;
  }
}
.path-mod-page #curso-confirma-inscricao.container-fluid .titulo {
  width: 250px;
  height: 62px;
  background-image: url("../imagens/logo_estagio_visita_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0;
  margin-bottom: 60px;
}
@media only screen and (min-width: 992px) {
  .path-mod-page #curso-confirma-inscricao.container-fluid .titulo {
    width: 382px;
    margin-bottom: 80px;
  }
}
.path-mod-page #curso-confirma-inscricao.container-fluid .titulo span {
  font-size: 25px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .path-mod-page #curso-confirma-inscricao.container-fluid .titulo span {
    font-size: 39px;
    line-height: 1.1;
  }
}
@media only screen and (min-width: 1200px) {
  .path-mod-page #curso-confirma-inscricao.container-fluid .titulo span {
    font-size: 51px;
  }
}
.path-mod-page #curso-confirma-inscricao.container-fluid .conteudo {
  margin-left: 25px;
}
@media only screen and (min-width: 992px) {
  .path-mod-page #curso-confirma-inscricao.container-fluid .conteudo {
    margin-left: 100px;
  }
}
.path-mod-page #curso-confirma-inscricao.container-fluid .conteudo p {
  font-weight: 300;
  font-size: 40px;
  line-height: 56px;
  color: #063E70;
  margin-top: 0;
  margin-bottom: 36px;
}
@media only screen and (min-width: 768px) {
  .path-mod-page #curso-confirma-inscricao.container-fluid .conteudo p {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 72px;
  }
}
.path-mod-page #curso-confirma-inscricao.container-fluid .conteudo .caixa-info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  .path-mod-page #curso-confirma-inscricao.container-fluid .conteudo .caixa-info {
    font-size: 27px;
    line-height: 39px;
  }
}
.path-mod-page #curso-confirma-inscricao .rodape {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 124px;
  line-height: 124px;
  background-color: #73BF32;
  border-top: 16px solid #032C51;
}
.path-mod-page #curso-confirma-inscricao .rodape span {
  display: inline-block;
  margin-left: 18px;
  margin-right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
@media only screen and (min-width: 576px) {
  .path-mod-page #curso-confirma-inscricao .rodape span {
    margin-left: 78px;
    margin-right: 48px;
  }
}
.path-mod-page #curso-confirma-inscricao .rodape img {
  vertical-align: middle;
}