$bootstrap-breakpoint: "-fluid";
$azul-1: #063E70;
$azul-2: #032C51;
$verde-1: #AADC80;
$verde-2: #73BF32;

// $pasta-imagens: "https://www.educacaoadistancia.camara.leg.br/ead_cfd/pluginfile.php/275804/mod_folder/content/0/imagens/";
$pasta-imagens: "../imagens/";
$pasta-logos: $pasta-imagens+"logos/";
$familia-fonte: 'Lato', sans-serif;

/* INÍCIO - Layout moodle */

.path-mod-page {
	.pagelayout-course .headerbkg {
		display: none;
	}

	.pagelayout-course div#learningcontent {
		margin-top: 0 !important;
	}

	div#page-content,
	#region-main-box,
	#region-main {
		// @media only screen and (max-width: 1200px) {
		padding: 0;
		// }
	}

	#region-main {
		overflow-x: visible;

		div[role="main"] {
			>h2 {
				display: none;
			}

			>.modified {
				display: none;
			}
		}
	}

	/* Esconder elementos padrão do Moodle acima do menu */
	//#page-navbar > nav > ul, // Caminho de pão
	#page-header>div>div>div>div>div.mr-auto,
	#page-header>div>div>div>div.d-flex.flex-wrap,
	h3.sectionname,
	#completionprogressid {
		display: none;
	}

	.course-content ul.topics li.section,
	.course-content ul.weeks li.section {
		padding-top: 0;
		padding-bottom: 0;
	}

	/* Esconder Borda Padrão do Moodle da área do conteúdo */
	.course-content ul.topics li.section .content {
		border: 0;
	}

	/* Fundo área de navegação */
	#section-0>div.content>div.summary {
		background-color: #ffffff;
		padding: 0;
		// max-width: 1440px;
	}

	.editing .course-content ul.topics li.section .left,
	.editing .course-content ul.topics li.section .right {
		padding: 0;
	}

	/* FIM - Layout moodle */

	.botao-cta {
		width: fit-content;
		padding: 4px 6px 4px 8px;
		font-size: 15px;
		font-weight: 700;
		line-height: 100%;
		background: #FFFFFF;
		cursor: pointer;

		@media only screen and (min-width: 576px) {
			padding: 8px 10px 8px 16px;
			font-size: 18px;
		}

		@media only screen and (min-width: 1200px) {
			font-size: 30px;
		}
	}

	.caixa-info {
		padding: 8px 40px;
		gap: 8px;
		background: $azul-1;
		border-radius: 48px;
		color: #FFFFFF;
		box-shadow: 0px 6px 0px 0px $verde-1;
		-webkit-box-shadow: 0px 6px 0px 0px $verde-1;
		-moz-box-shadow: 0px 6px 0px 0px $verde-1;
	}

	#curso-confirma-inscricao {
		position: relative;
		font-family: $familia-fonte;
		height: 1432px;

		background: {
			image: url($pasta-imagens + "bg_imagem_1.png"), url($pasta-imagens + "bg_textura_1.jpg");
			repeat: no-repeat;
			position: right bottom 140px, center top;
		}

		&.container#{$bootstrap-breakpoint} {
			display: flex;
			flex-direction: column;
			min-height: 469px;
			margin: 0 auto;
			padding: 28px;

			@media only screen and (min-width: 992px) {
				padding: 56px;
			}

			.titulo {
				width: 250px;
				height: 62px;

				background: {
					image: url($pasta-imagens + "logo_estagio_visita_1.png");
					repeat: no-repeat;
					size: contain;
				}

				margin-top: 0;
				margin-bottom: 60px;

				@media only screen and (min-width: 992px) {
					width: 382px;
					margin-bottom: 80px;
				}

				span {
					font-size: 25px;
					font-weight: 700;

					@media only screen and (min-width: 768px) {
						font-size: 39px;
						line-height: 1.1;
					}

					@media only screen and (min-width: 1200px) {
						font-size: 51px;
					}
				}
			}

			.conteudo {
				margin-left: 25px;

				@media only screen and (min-width: 992px) {
					margin-left: 100px;
				}

				p {
					font: {
						weight: 300;
						size: 40px;
					}

					line-height: 56px;
					color: $azul-1;
					margin-top: 0;
					margin-bottom: 36px;

					@media only screen and (min-width: 768px) {
						font-size: 80px;
						line-height: 94px;
						margin-bottom: 72px;
					}
				}

				.caixa-info {
					width: fit-content;
					font-size: 18px;
					line-height: 30px;
					text-align: center;

					@media only screen and (min-width: 576px) {
						font-size: 27px;
						line-height: 39px;
					}
				}
			}
		}

		.rodape {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			height: 124px;
			line-height: 124px;
			background-color: $verde-2;
			border-top: 16px solid $azul-2;

			span {
				display: inline-block;
				margin-left: 18px;
				margin-right: 16px;
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;
				color: #FFFFFF;

				@media only screen and (min-width: 576px) {
					margin-left: 78px;
					margin-right: 48px;
				}
			}

			img {
				vertical-align: middle;
			}
		}
	}
}