@charset "UTF-8";
/*
tipo:
 1 = 2 bolas vazias
 2 = 1 bola vazia outra cheia
 3 = 2 bolas cheias
 */
/* INÍCIO - Layout moodle */
.pagelayout-course .headerbkg {
  display: none;
}

.pagelayout-course div#learningcontent {
  margin-top: 0 !important;
}

div#page-content,
#region-main-box,
#region-main {
  padding: 0;
}

#region-main {
  overflow-x: visible;
}

/* Esconder elementos padrão do Moodle acima do menu */
#page-navbar > nav > ul,
#page-header > div > div > div > div > div.mr-auto,
#page-header > div > div > div > div.d-flex.flex-wrap,
h3.sectionname,
#completionprogressid {
  display: none;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
  padding-top: 0;
  padding-bottom: 0;
}

/* Esconder Borda Padrão do Moodle da área do conteúdo */
.course-content ul.topics li.section .content {
  border: 0;
}

/* Fundo área de navegação */
#section-0 > div.content > div.summary {
  background-color: #ffffff;
  padding: 0;
}

.editing .course-content ul.topics li.section .left,
.editing .course-content ul.topics li.section .right {
  padding: 0;
}

/* FIM - Layout moodle */
.flex-basis-100 {
  flex-basis: 100%;
}

.margem-top-1 {
  margin-top: 72px;
}
.margem-top-2 {
  margin-top: 56px;
}
.margem-top-3 {
  margin-top: 42px;
}
.margem-top-4 {
  margin-top: 32px;
}
.margem-bottom-1 {
  margin-bottom: 72px;
}
.margem-bottom-2 {
  margin-bottom: 56px;
}
.margem-bottom-3 {
  margin-bottom: 42px;
}
.margem-bottom-4 {
  margin-bottom: 32px;
}

.linha-separadora-verde {
  width: 100%;
  border: 1px solid #73BF32;
}

.caixa-info {
  padding: 8px 24px 4px;
  gap: 8px;
  border-radius: 48px;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 14px;
  line-height: 164%;
  box-shadow: 0px 6px 0px 0px #032C51;
  -webkit-box-shadow: 0px 6px 0px 0px #032C51;
  -moz-box-shadow: 0px 6px 0px 0px #032C51;
}
.caixa-info.verde {
  background-color: #73BF32;
}
.caixa-info.azul {
  border: 1px solid #032C51;
  background-color: #063E70;
}
.caixa-info .icone {
  filter: brightness(0) invert(1);
  width: 20px;
  margin-bottom: 4px;
  margin-right: 8px;
}
@media only screen and (min-width: 768px) {
  .caixa-info {
    font-size: 20px;
  }
  .caixa-info .icone {
    width: 24px;
    margin-bottom: 4px;
  }
}
@media only screen and (min-width: 1200px) {
  .caixa-info {
    font-size: 23px;
  }
  .caixa-info .icone {
    width: 26px;
    margin-bottom: 6px;
  }
}

.objetos {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}
@media only screen and (min-width: 576px) {
  .objetos {
    gap: 52px;
  }
}

.objeto {
  max-width: 406px;
  background-color: #73BF32;
  border-bottom: 7px solid #063E70;
}
.objeto-imagem {
  width: 100%;
}
.objeto-conteudo {
  height: 210px;
  background-color: #ABE367;
  border-radius: 0px 136px 0px 0px;
  padding: 24px 28px 24px 30px;
}
@media only screen and (min-width: 576px) {
  .objeto-conteudo {
    height: 236px;
    padding: 32px 38px 32px 56px;
  }
}
.objeto-tipo {
  font-weight: 700;
  font-size: 14px;
  line-height: 242%;
  color: #063E70;
  text-transform: uppercase;
}
@media only screen and (min-width: 576px) {
  .objeto-tipo {
    font-size: 16px;
  }
}
.objeto-titulo {
  height: 90px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #063E70;
}
@media only screen and (min-width: 576px) {
  .objeto-titulo {
    height: 85px;
    font-size: 24px;
  }
}
.objeto-botao {
  display: inline-block;
  background-color: #063E70;
  border-radius: 57px;
  font-weight: 800;
  font-size: 16px;
  line-height: 242%;
  color: #ffffff;
  padding: 0 24px;
  text-decoration: none;
}
@media only screen and (min-width: 576px) {
  .objeto-botao {
    font-size: 20px;
  }
}
.objeto-botao:hover {
  opacity: 0.9;
  color: #ffffff;
  text-decoration: none;
}
.objeto.aula-sincrona .objeto-conteudo {
  height: auto;
}
.objeto.aula-sincrona .objeto-titulo {
  height: auto;
}
.objeto.aula-sincrona .aula-sincrona-dados-acesso {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #063E70;
  margin-top: 16px;
  margin-bottom: 22px;
}

.imagem-semana {
  width: -moz-fit-content;
  width: fit-content;
}
.imagem-semana img {
  border-bottom: 7px solid #73BF32;
  border-radius: 0px 96px 0px 0px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 576px) {
  .imagem-semana img {
    border-radius: 0px 196px 0px 0px;
  }
}

.box-destaque {
  background: #ABE367;
  border-bottom: 3px solid #063E70;
  border-radius: 0px 32px 0px 0px;
  padding: 24px 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 172%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #032C51;
}

.box-atencao {
  display: flex;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  gap: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 152%;
  color: #032C51;
  background-color: rgba(6, 62, 112, 0.09);
  border: 3px solid #063E70;
  border-radius: 32px 32px 32px 0px;
  padding: 12px;
}
.box-atencao img {
  width: 32px;
  height: 32px;
}
.box-atencao .texto {
  flex: 1;
}
@media only screen and (min-width: 768px) {
  .box-atencao {
    font-size: 20px;
    padding: 24px;
    line-height: 172%;
  }
  .box-atencao img {
    width: 49px;
    height: 49px;
  }
}

.creditos {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 172%;
  letter-spacing: 0.01em;
  color: #000000;
}

ul {
  margin-left: 20px;
}

a.acessar-formulario {
  display: block;
  padding-bottom: 3px;
}
@media only screen and (min-width: 768px) {
  a.acessar-formulario {
    padding-bottom: 8px;
  }
}
a.acessar-formulario img {
  width: 16px;
  vertical-align: top;
  margin-right: 12px;
}
@media only screen and (min-width: 768px) {
  a.acessar-formulario img {
    width: 22px;
    vertical-align: text-top;
  }
}

#curso-container {
  font-family: "Lato", sans-serif;
  color: #222221;
  background-color: #FFFFFF;
}
#curso-container.container-fluid {
  position: relative;
  min-height: 544px;
  margin: 0 auto;
  padding: 0px;
}
@media only screen and (min-width: 768px) {
  #curso-container.container-fluid {
    display: flex;
    align-items: stretch;
    width: unset;
  }
}
#curso-container #fundo-sombra {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 33, 0.5);
  display: none;
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  #curso-container #fundo-sombra {
    display: none;
  }
}
#curso-container #coluna-lateral {
  position: absolute;
  width: 52px;
  height: 100%;
  left: 0;
  background: linear-gradient(180deg, #032C51 0%, #063E70 100%);
  border-right: 1px solid #222221;
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  #curso-container #coluna-lateral {
    position: relative;
    width: 183px;
    height: unset;
  }
}
@media only screen and (min-width: 1200px) {
  #curso-container #coluna-lateral {
    width: 285px;
    border-right-width: 2px;
  }
}
#curso-container #icone-menu {
  position: absolute;
  top: 56px;
  left: 16px;
  z-index: 6;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  #curso-container #icone-menu {
    display: none;
  }
}
#curso-container #icone-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #AADC80;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#curso-container #icone-menu span:nth-child(1) {
  top: 0px;
}
#curso-container #icone-menu span:nth-child(2) {
  top: 8px;
}
#curso-container #icone-menu span:nth-child(3) {
  top: 16px;
}
#curso-container #icone-menu.aberto span:nth-child(1) {
  top: 3px;
  width: 16px;
  transform: rotate(-45deg);
}
#curso-container #icone-menu.aberto span:nth-child(2) {
  opacity: 0;
  left: 110px;
}
#curso-container #icone-menu.aberto span:nth-child(3) {
  top: 13px;
  width: 16px;
  transform: rotate(45deg);
}
#curso-container #botao-toggle-menu {
  position: absolute;
  width: 20px;
  height: 21px;
  top: 56px;
  left: 16px;
  z-index: 6;
}
#curso-container #menu-lateral {
  position: relative;
  width: 120px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto 0 0;
  padding-top: 88px;
  padding-bottom: 88px;
  text-align: center;
  opacity: 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  #curso-container #menu-lateral {
    display: block;
    width: 128px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 56px;
    opacity: 1;
  }
}
@media only screen and (min-width: 1200px) {
  #curso-container #menu-lateral {
    width: 158px;
  }
}
#curso-container #menu-lateral .item-menu {
  display: flex;
  gap: 8px;
  color: #ABE367;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  #curso-container #menu-lateral .item-menu {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  #curso-container #menu-lateral .item-menu {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
#curso-container #menu-lateral .item-menu .marcador-ativo {
  visibility: hidden;
  flex: 0 0 7px;
  width: 7px;
  background-color: #ABE367;
}
#curso-container #menu-lateral .item-menu .texto {
  padding-top: 4px;
  padding-bottom: 4px;
}
#curso-container #menu-lateral .item-menu:first-child {
  padding-top: 0;
}
#curso-container #menu-lateral .item-menu:hover {
  color: #AADC80;
}
#curso-container #menu-lateral .item-menu.ativo {
  color: #AADC80;
}
#curso-container #menu-lateral .item-menu.ativo .marcador-ativo {
  visibility: visible;
}
#curso-container #menu-lateral .item-menu.bloqueado {
  opacity: 0.4;
  cursor: default;
}
#curso-container #menu-lateral .item-menu[data-link]:not([data-link=""])::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 4px;
  vertical-align: bottom;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23222221' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
#curso-container #menu-lateral .item-menu[data-link]:not([data-link=""]):hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23BFDA90' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
#curso-container #menu-lateral .item-menu-separador {
  visibility: hidden;
  width: 48px;
  margin: 0 auto;
  height: 1px;
  background-color: #222221;
}
@media only screen and (min-width: 768px) {
  #curso-container #menu-lateral .item-menu-separador {
    width: 72px;
  }
}
@media only screen and (min-width: 1200px) {
  #curso-container #menu-lateral .item-menu-separador {
    width: 88px;
    height: 2px;
  }
}
#curso-container .botao-cta {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  height: 26px;
  padding: 4px 6px 4px 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  background: #FFFFFF;
  cursor: pointer;
}
@media only screen and (min-width: 576px) {
  #curso-container .botao-cta {
    height: 39px;
    padding: 8px 10px 8px 16px;
    font-size: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  #curso-container .botao-cta {
    height: 43px;
    font-size: 27px;
  }
}
#curso-container .quebra-linha-bg {
  padding: 1px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  background-color: #73BF32;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
@media only screen and (min-width: 576px) {
  #curso-container .quebra-linha-bg {
    font-size: 16px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  #curso-container .quebra-linha-bg {
    font-size: 20px;
    line-height: 27px;
  }
}
#curso-container .link-dentro-texto {
  color: #FFFFFF;
  font-weight: 700;
  background-color: #73BF32;
  padding: 0 2px;
  cursor: pointer;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
#curso-container #coluna-conteudo {
  position: relative;
  height: 100%;
  min-height: 544px;
  padding-top: 48px;
  padding-right: 12px;
  padding-bottom: 172px;
  padding-left: 64px;
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo {
    flex: 1;
  }
}
@media only screen and (min-width: 768px) {
  #curso-container #coluna-conteudo {
    padding-left: 106px;
  }
}
@media only screen and (min-width: 1200px) {
  #curso-container #coluna-conteudo {
    padding-top: 56px;
    padding-right: 148px;
    padding-bottom: 180px;
    padding-left: 148px;
  }
}
#curso-container #coluna-conteudo .item-conteudo {
  position: relative;
  display: none;
}
#curso-container #coluna-conteudo .item-conteudo.ativo {
  display: block;
}
#curso-container #coluna-conteudo .item-conteudo .curso-logo {
  position: relative;
  width: 250px;
  height: 62px;
  background-image: url("../imagens/logo_estagio_visita_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: -10px;
}
@media only screen and (min-width: 992px) {
  #curso-container #coluna-conteudo .item-conteudo .curso-logo {
    width: 382px;
    margin-bottom: 72px;
  }
}
#curso-container #coluna-conteudo .item-conteudo .curso-turma-texto {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ABE367;
  margin-bottom: 16px;
  margin-left: 8px;
}
#curso-container #coluna-conteudo .item-conteudo .curso-turma-texto span {
  font-weight: 700;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=semana-1] .curso-turma-texto, #curso-container #coluna-conteudo .item-conteudo[data-item=semana-2] .curso-turma-texto, #curso-container #coluna-conteudo .item-conteudo[data-item=semana-3] .curso-turma-texto {
  margin-bottom: 24px;
  margin-left: 0;
}
#curso-container #coluna-conteudo .item-conteudo .titulo {
  font-weight: 500;
  font-size: 42px;
  line-height: 100%;
  color: #063E70;
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo .item-conteudo .titulo {
    font-size: 60px;
    margin-bottom: 54px;
  }
}
@media only screen and (min-width: 992px) {
  #curso-container #coluna-conteudo .item-conteudo .titulo {
    font-size: 72px;
    margin-bottom: 72px;
  }
}
#curso-container #coluna-conteudo .item-conteudo .titulo span {
  font-weight: 300;
}
#curso-container #coluna-conteudo .item-conteudo .titulo-2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #063E70;
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo .item-conteudo .titulo-2 {
    font-size: 32px;
  }
}
#curso-container #coluna-conteudo .item-conteudo .titulo-3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #063E70;
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo .item-conteudo .titulo-3 {
    font-size: 24px;
  }
}
#curso-container #coluna-conteudo .item-conteudo .titulo-4 {
  font-weight: 400;
  font-size: 23px;
  line-height: 100%;
  color: #063E70;
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo .item-conteudo .titulo-4 {
    font-size: 27px;
  }
}
#curso-container #coluna-conteudo .item-conteudo .assunto {
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  color: #73BF32;
  margin-top: 24px;
  border-left: 7px solid #063E70;
  padding-left: 14px;
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo .item-conteudo .assunto {
    font-size: 72px;
    margin-left: -23px;
  }
}
#curso-container #coluna-conteudo .item-conteudo .informacoes {
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo .item-conteudo .informacoes {
    margin-bottom: 54px;
  }
}
@media only screen and (min-width: 992px) {
  #curso-container #coluna-conteudo .item-conteudo .informacoes {
    margin-bottom: 72px;
  }
}
#curso-container #coluna-conteudo .item-conteudo .informacoes.tipo-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
#curso-container #coluna-conteudo .item-conteudo .descricao {
  font-weight: 400;
  font-size: 14px;
  line-height: 172%;
  letter-spacing: -0.01em;
  color: #000000;
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo .item-conteudo .descricao {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) {
  #curso-container #coluna-conteudo .item-conteudo .descricao {
    font-size: 20px;
  }
}
#curso-container #coluna-conteudo .item-conteudo .gerar-declaracao-participacao,
#curso-container #coluna-conteudo .item-conteudo .enviar-termo,
#curso-container #coluna-conteudo .item-conteudo .fale-com {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #063E70;
}
#curso-container #coluna-conteudo .item-conteudo .gerar-declaracao-participacao img,
#curso-container #coluna-conteudo .item-conteudo .enviar-termo img,
#curso-container #coluna-conteudo .item-conteudo .fale-com img {
  width: 32px;
  margin-right: 16px;
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo .item-conteudo .gerar-declaracao-participacao img,
  #curso-container #coluna-conteudo .item-conteudo .enviar-termo img,
  #curso-container #coluna-conteudo .item-conteudo .fale-com img {
    width: auto;
  }
}
@media only screen and (min-width: 576px) {
  #curso-container #coluna-conteudo .item-conteudo .gerar-declaracao-participacao,
  #curso-container #coluna-conteudo .item-conteudo .enviar-termo,
  #curso-container #coluna-conteudo .item-conteudo .fale-com {
    font-size: 24px;
  }
}
#curso-container #coluna-conteudo .item-conteudo[data-item=inicio] {
  min-height: 1800px;
}
@media only screen and (min-width: 1480px) {
  #curso-container #coluna-conteudo .item-conteudo[data-item=inicio] {
    min-height: 1500px;
  }
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario {
  font-size: 20px;
  text-align: center;
  border: 1px solid #73BF32;
  border-radius: 15px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  /* Apply a border to the right of all but the last column */
  /* Apply a border to the bottom of all but the last row */
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario th:not(:last-child),
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario td:not(:last-child) {
  border-right: 1px solid #73BF32;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > thead > tr:not(:last-child) > th,
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > thead > tr:not(:last-child) > td,
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > tbody > tr:not(:last-child) > th,
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > tbody > tr:not(:last-child) > td,
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > tfoot > tr:not(:last-child) > th,
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > tfoot > tr:not(:last-child) > td,
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > tr:not(:last-child) > td,
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > tr:not(:last-child) > th,
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > thead:not(:last-child),
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > tbody:not(:last-child),
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario > tfoot:not(:last-child) {
  border-bottom: 1px solid #73BF32;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario thead > tr > th {
  border-bottom: 1px solid #73BF32;
  background: rgba(171, 227, 103, 0.75);
  font-weight: 800;
  line-height: 100%;
  color: #063E70;
  height: 72px;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario thead > tr > th:nth-child(1) {
  width: 205px;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario thead > tr > th:nth-child(2) {
  width: 170px;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario thead > tr > th:nth-child(4) {
  width: 166px;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario tbody {
  color: #032C51;
  font-weight: 500;
  line-height: 164%;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario tbody > tr.fundo-claro {
  background: rgba(171, 227, 103, 0.07);
}
#curso-container #coluna-conteudo .item-conteudo[data-item=calendario] .tabela-calendario tbody > tr.fundo-escuro {
  background: rgba(171, 227, 103, 0.23);
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas {
  font-size: 20px;
  line-height: 130%;
  border: 2px solid #D6D6D6;
  border-radius: 15px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  /* Apply a border to the right of all but the last column */
  /* Apply a border to the bottom of all but the last row */
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas th:not(:last-child),
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas td:not(:last-child) {
  border-right: 2px solid #D6D6D6;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > thead > tr:not(:last-child) > th,
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > thead > tr:not(:last-child) > td,
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > tbody > tr:not(:last-child) > th,
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > tbody > tr:not(:last-child) > td,
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > tfoot > tr:not(:last-child) > th,
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > tfoot > tr:not(:last-child) > td,
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > tr:not(:last-child) > td,
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > tr:not(:last-child) > th,
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > thead:not(:last-child),
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > tbody:not(:last-child),
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas > tfoot:not(:last-child) {
  border-bottom: 2px solid #D6D6D6;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas tr > td:nth-child(1) {
  color: #000000;
  font-weight: 600;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .tabela-atividades-avaliativas tr > td:nth-child(2) {
  width: 136px;
  color: #063E70;
  font-weight: 800;
  background-color: #EEEEEE;
  text-align: center;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .borda-verde {
  border-left: 7px solid #73BF32;
  padding-left: 9px;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .publicacoes .publicacao {
  padding: 0 32px 56px 32px;
  border-bottom: 2px solid #73BF32;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .publicacoes .publicacao .publicacao-titulo {
  font-weight: 800;
  font-size: 14px;
  line-height: 100%;
  color: #73BF32;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .publicacoes .publicacao .publicacao-titulo .ponto {
  font-size: 12px;
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: bottom;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .publicacoes .publicacao .publicacao-titulo .texto-azul {
  font-weight: 800;
  color: #063E70;
}
@media only screen and (min-width: 1200px) {
  #curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .publicacoes .publicacao .publicacao-titulo {
    font-size: 22px;
  }
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] .publicacoes .publicacao .publicacao-texto {
  font-weight: 600;
  font-size: 20px;
  line-height: 144%;
  color: #063E70;
  margin-bottom: 40px;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] a.caixa-info {
  display: block;
  padding-bottom: 8px;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=atividades-avaliativas] a:hover {
  color: #EEEEEE;
  text-decoration: none;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=certificado] a.acessar-avaliacao {
  margin-bottom: 6px;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=certificado] a.gerar-certificado {
  display: block;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=certificado] a.caixa-info {
  padding: 8px 24px 4px;
}
@media only screen and (min-width: 768px) {
  #curso-container #coluna-conteudo .item-conteudo[data-item=certificado] a.caixa-info {
    padding: 8px 24px;
  }
}
#curso-container #coluna-conteudo .item-conteudo[data-item=certificado] .info-certificado {
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 60px 56px;
  margin-top: 80px;
  margin-bottom: 56px;
}
@media only screen and (min-width: 992px) {
  #curso-container #coluna-conteudo .item-conteudo[data-item=certificado] .info-certificado {
    font-size: 23px;
    justify-content: space-between;
  }
}
#curso-container #coluna-conteudo .item-conteudo[data-item=certificado] .info-certificado .info-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 56px;
  max-width: 532px;
  margin: 0 auto;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=certificado] .info-certificado .info-box .area-texto {
  flex: 1;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=certificado] .info-certificado .info-box .area-texto .texto-titulo {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #73BF32;
  margin-bottom: 16px;
}
#curso-container #coluna-conteudo .item-conteudo[data-item=certificado] .info-certificado .info-box .area-texto p {
  font-weight: 600;
  font-size: 20px;
  line-height: 164%;
  color: #063E70;
}
#curso-container #coluna-conteudo[data-item-ativo=inicio] {
  background-image: url("../imagens/bg_imagem_2.png");
  background-repeat: no-repeat;
  background-position: right bottom 124px;
}
#curso-container .rodape {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 124px;
  line-height: 124px;
  background-color: #73BF32;
}
#curso-container .rodape span {
  display: inline-block;
  margin-left: 64px;
  margin-right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
@media only screen and (min-width: 576px) {
  #curso-container .rodape span {
    margin-left: 106px;
  }
}
@media only screen and (min-width: 1200px) {
  #curso-container .rodape span {
    margin-left: 148px;
  }
}
#curso-container .rodape img {
  width: 150px;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  #curso-container .rodape img {
    width: 212px;
  }
}