$bootstrap-breakpoint: "-fluid";
$azul-1: #063E70;
$azul-2: #032C51;
$verde-1: #AADC80;
$verde-2: #73BF32;
$verde-3: #ABE367;
$cinza-1: #222221;
// $pasta-imagens: "https://www.educacaoadistancia.camara.leg.br/ead_cfd/pluginfile.php/285399/mod_folder/content/0/imagens/";
$pasta-imagens: "../imagens/";
// $bg-conteudo: $pasta-imagens + "bg_conteudo.jpg";

$pasta-logos: $pasta-imagens+"logos/";

$familia-fonte: 'Lato', sans-serif;

$altura-rodape: 124px;

@mixin texto-padding-linhas {
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

@mixin lista-seta-1 {
	ul {
		font-size: 15px;
		font-weight: 400;
		list-style: none;
		padding: 0;
		margin: 8px 0;

		li {
			&:not(:last-child) {
				margin-bottom: 6px;
			}

			&::before {
				content: "»";
				padding-right: 4px;
				font-size: 12px;
				font-weight: 700;
				vertical-align: text-bottom;
			}
		}
	}
}

@mixin img-logo($url, $w, $h) {
	background: {
		// image: url($url);
		repeat: no-repeat;
	}

	width: $w;
	height: $h;
}

$cor-caixa-fill: '%239FBA6F';
$cor-caixa-stroke: '%23222221';

/*
tipo:
 1 = 2 bolas vazias
 2 = 1 bola vazia outra cheia
 3 = 2 bolas cheias
 */
@mixin caixa-svg-bg($tipo: 1) {
	$svg: "data:image/svg+xml,%3Csvg width='201' height='132' viewBox='0 0 201 132' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='199' height='130' fill='%239FBA6F' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Ccircle cx='16' cy='14' r='3'";

	@if $tipo ==1 {
		background-image: url("#{$svg} stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Ccircle cx='30' cy='14' r='3' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Cpath d='M0 26 H200' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Crect x='42' y='11' width='146' height='6' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3C/svg%3E%0A");
	}

	@else if $tipo ==2 {
		background-image: url("#{$svg} fill='#{$cor-caixa-stroke}' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Ccircle cx='30' cy='14' r='3' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Cpath d='M0 26 H200' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Crect x='42' y='11' width='146' height='6' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3C/svg%3E%0A");
	}

	@else {
		background-image: url("#{$svg} fill='#{$cor-caixa-stroke}' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Ccircle cx='30' cy='14' r='3' fill='#{$cor-caixa-stroke}' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Cpath d='M0 26 H200' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3Crect x='42' y='11' width='146' height='6' stroke='#{$cor-caixa-stroke}' stroke-width='2'/%3E%3C/svg%3E%0A");
	}
}

@mixin icone-link-svg($cor: $cor-caixa-stroke) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='#{$cor}' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1' /%3E%3C/svg%3E");
	background-repeat: no-repeat;

}

/* INÍCIO - Layout moodle */

.pagelayout-course .headerbkg {
	display: none;
}

.pagelayout-course div#learningcontent {
	margin-top: 0 !important;
}

div#page-content,
#region-main-box,
#region-main {
	// @media only screen and (max-width: 1200px) {
	padding: 0;
	// }
}

#region-main {
	overflow-x: visible;
}

/* Esconder elementos padrão do Moodle acima do menu */
#page-navbar>nav>ul,
#page-header>div>div>div>div>div.mr-auto,
#page-header>div>div>div>div.d-flex.flex-wrap,
h3.sectionname,
#completionprogressid {
	display: none;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
	padding-top: 0;
	padding-bottom: 0;
}

/* Esconder Borda Padrão do Moodle da área do conteúdo */
.course-content ul.topics li.section .content {
	border: 0;
}

/* Fundo área de navegação */
#section-0>div.content>div.summary {
	background-color: #ffffff;
	padding: 0;
	// max-width: 1440px;
}

.editing .course-content ul.topics li.section .left,
.editing .course-content ul.topics li.section .right {
	padding: 0;
}

/* FIM - Layout moodle */

.flex-basis-100 {
	// Não tem no bootstrap, então criamos.
	flex-basis: 100%;
}

.margem {
	&-top {
		&-1 {
			margin-top: 72px;
		}
	}

	&-bottom {
		&-1 {
			margin-bottom: 72px;
		}

		&-2 {
			margin-bottom: 56px;
		}
	}
}

.caixa-info {
	padding: 8px 24px;
	gap: 8px;
	border-radius: 48px;
	width: fit-content;
	color: #FFFFFF;
	font-weight: 800;
	font-size: 14px;
	line-height: 164%;
	box-shadow: 0px 6px 0px 0px $azul-2;
	-webkit-box-shadow: 0px 6px 0px 0px $azul-2;
	-moz-box-shadow: 0px 6px 0px 0px $azul-2;

	&.verde {
		background-color: $verde-2;
	}

	&.azul {
		border: 1px solid $azul-2;
		background-color: $azul-1;
	}

	.icone {
		filter: brightness(0) invert(1);
		width: 20px;

		margin: {
			bottom: 4px;
			right: 8px;
		}
	}

	@media only screen and (min-width: 768px) {
		font-size: 22px;

		.icone {
			width: 24px;
			margin-bottom: 6px;
		}
	}

	@media only screen and (min-width: 1200px) {
		font-size: 27px;

		.icone {
			width: 26px;
			margin-bottom: 8px;
		}
	}
}

.objetos {
	display: flex;
	flex-wrap: wrap;
	gap: 52px;
}

.objeto {
	max-width: 406px;
	background-color: $verde-2;
	border-bottom: 7px solid $azul-1;

	&-imagem {
		width: 100%;
	}

	&-conteudo {
		height: 317px;
		background-color: $verde-3;
		border-radius: 0px 136px 0px 0px;
		padding: 24px 28px 24px 30px;

		@media only screen and (min-width: 576px) {
			height: 256px;
			padding: 32px 38px 32px 56px;
		}
	}

	&-tipo {
		font-weight: 700;
		font-size: 16px;
		line-height: 242%;
		color: $azul-1;
		text-transform: uppercase;
	}

	&-titulo {
		height: 180px;
		font-weight: 700;
		font-size: 24px;
		line-height: 100%;
		color: $azul-1;

		@media only screen and (min-width: 576px) {
			height: 105px;
		}
	}

	&-botao {
		display: inline-block;
		background-color: $azul-1;
		border-radius: 57px;
		font-weight: 800;
		font-size: 20px;
		line-height: 242%;
		color: #ffffff;
		padding: 0 24px;
		text-decoration: none;
	
		&:hover {
			opacity: 0.9;
			color: #ffffff;
			text-decoration: none;
		}
	}
}

.imagem-semana {
	width: fit-content;
	
	img {
		border-bottom: 7px solid #73BF32;
		border-radius: 0px 96px 0px 0px;
		margin-bottom: 16px;

		@media only screen and (min-width: 576px) {
			border-radius: 0px 196px 0px 0px;
		}
	}
}

.creditos {
	display: block;
	font-weight: 400;
	font-size: 12px;
	line-height: 172%;
	letter-spacing: 0.01em;
	color: #000000;
}

#curso-container {
	font-family: $familia-fonte;
	color: $cinza-1;
	background-color: #FFFFFF;

	&.container#{$bootstrap-breakpoint} {
		position: relative;
		min-height: 544px;
		margin: 0 auto;
		padding: 0px;

		@media only screen and (min-width: 768px) {
			display: flex;
			align-items: stretch;
			width: unset;
		}
	}

	#fundo-sombra {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(34, 34, 33, 0.5);
		display: none;
		z-index: 4;

		@media only screen and (min-width: 768px) {
			display: none;
		}
	}

	#coluna-lateral {
		position: absolute;
		width: 52px;
		height: 100%;
		left: 0;
		background: linear-gradient(180deg, $azul-2 0%, $azul-1 100%);
		border-right: 1px solid $cinza-1;
		z-index: 5;

		@media only screen and (min-width: 768px) {
			position: relative;
			width: 183px;
			height: unset;
		}

		@media only screen and (min-width: 1200px) {
			width: 285px;
			border-right-width: 2px;
		}
	}

	#icone-menu {
		position: absolute;
		top: 56px;
		left: 16px;
		z-index: 6;
		width: 20px;
		height: 20px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;

		@media only screen and (min-width: 768px) {
			display: none;
		}

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: $verde-1;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}

		span:nth-child(1) {
			top: 0px;
		}

		span:nth-child(2) {
			top: 8px;
		}

		span:nth-child(3) {
			top: 16px;
		}

		&.aberto span:nth-child(1) {
			top: 3px;
			width: 16px;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		&.aberto span:nth-child(2) {
			opacity: 0;
			left: 110px;
		}

		&.aberto span:nth-child(3) {
			top: 13px;
			width: 16px;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	#botao-toggle-menu {
		position: absolute;
		width: 20px;
		height: 21px;
		top: 56px;
		left: 16px;
		z-index: 6;
	}

	#menu-lateral {
		position: relative;
		width: 120px;
		height: 100%;
		box-sizing: border-box;
		margin: 0 auto 0 0;
		padding-top: 88px;
		padding-bottom: 88px;
		text-align: center;
		opacity: 0;
		display: none;

		@media only screen and (min-width: 768px) {
			display: block;
			width: 128px;
			margin: 0 auto;
			padding-top: 56px;
			padding-bottom: 56px;
			opacity: 1;
		}

		@media only screen and (min-width: 1200px) {
			width: 158px;
		}

		.item-menu {
			display: flex;
			gap: 8px;
			color: $verde-3;
			font-weight: 700;
			font-size: 15px;
			line-height: 120%;
			text-align: left;
			padding-top: 16px;
			padding-bottom: 16px;
			cursor: pointer;

			@media only screen and (min-width: 768px) {
				font-size: 16px;
				// padding-top: 20px;
				// padding-bottom: 20px;
			}

			@media only screen and (min-width: 1200px) {
				font-size: 20px;
				padding-top: 20px;
				padding-bottom: 20px;
			}

			.marcador-ativo {
				visibility: hidden;
				flex: 0 0 7px;
				width: 7px;
				background-color: $verde-3;
			}

			.texto {
				padding: {
					top: 4px;
					bottom: 4px;
				};
			}

			&:first-child {
				padding-top: 0;
			}

			&:hover {
				color: $verde-1;
			}

			&.ativo {
				color: $verde-1;

				.marcador-ativo {
					visibility: visible;
				}
			}

			&[data-link]:not([data-link=""]) {
				&::after {
					content: '';
					display: inline-block;
					width: 18px;
					height: 18px;
					margin-left: 4px;
					vertical-align: bottom;
					@include icone-link-svg;
				}

				&:hover::after {
					@include icone-link-svg('%23BFDA90');
				}
			}
		}

		.item-menu-separador {
			visibility: hidden;
			width: 48px;
			margin: 0 auto;
			height: 1px;
			background-color: $cinza-1;

			@media only screen and (min-width: 768px) {
				width: 72px;
			}

			@media only screen and (min-width: 1200px) {
				width: 88px;
				height: 2px;
			}
		}
	}

	.botao-cta {
		display: none;
		width: fit-content;
		height: 26px;
		padding: 4px 6px 4px 8px;
		font-size: 18px;
		font-weight: 700;
		line-height: 100%;
		background: #FFFFFF;
		cursor: pointer;

		@media only screen and (min-width: 576px) {
			height: 39px;
			padding: 8px 10px 8px 16px;
			font-size: 23px;
		}

		@media only screen and (min-width: 1200px) {
			height: 43px;
			font-size: 27px;
		}
	}

	.quebra-linha-bg {
		padding: 1px;

		font: {
			weight: 700;
			size: 15px;
		}

		line-height: 20px;
		background-color: $verde-2;

		@include texto-padding-linhas;

		@media only screen and (min-width: 576px) {
			font-size: 16px;
			line-height: 22px;
		}

		@media only screen and (min-width: 1200px) {
			font-size: 20px;
			line-height: 27px;
		}
	}

	.link-dentro-texto {
		color: #FFFFFF;
		font-weight: 700;
		background-color: $verde-2;
		padding: 0 2px;
		cursor: pointer;

		@include texto-padding-linhas;
	}

	#coluna-conteudo {
		position: relative;
		height: 100%;
		min-height: 544px;

		padding: {
			top: 48px;
			right: 12px;
			bottom: calc(48px + $altura-rodape);
			left: 64px;
		}

		@media only screen and (min-width: 576px) {
			flex: 1;
		}

		@media only screen and (min-width: 768px) {
			padding-left: 106px;
		}

		@media only screen and (min-width: 1200px) {
			padding: {
				top: 56px;
				right: 148px;
				bottom: calc(56px + $altura-rodape);
				left: 148px;
			}
		}

		.item-conteudo {
			position: relative;
			display: none;

			&.ativo {
				display: block;
			}

			.curso-logo {
				width: 250px;
				height: 62px;

				background: {
					image: url($pasta-imagens + "logo_estagio_visita_1.png");
					repeat: no-repeat;
					size: contain;
				}

				margin: {
					top: 0;
					bottom: 60px;
					left: -10px;
				}

				@media only screen and (min-width: 992px) {
					width: 382px;
					margin-bottom: 72px;
				}
			}

			.titulo {
				font-weight: 600;
				font-size: 42px;
				line-height: 100%;
				color: $azul-1;
				margin-bottom: 24px;

				@media only screen and (min-width: 576px) {
					font-size: 60px;
					margin-bottom: 54px;
				}

				@media only screen and (min-width: 992px) {
					font-size: 72px;
					margin-bottom: 72px;
				}
			}

			.titulo-2 {
				font-weight: 400;
				font-size: 24px;
				line-height: 120%;
				color: $azul-1;

				@media only screen and (min-width: 576px) {
					font-size: 32px;
				}
			}

			.titulo-3 {
				font-weight: 400;
				font-size: 20px;
				line-height: 100%;
				color: $azul-1;

				@media only screen and (min-width: 576px) {
					font-size: 24px;
				}
			}

			.assunto {
				font-weight: 500;
				font-size: 36px;
				line-height: 100%;
				color: $verde-2;
				margin-top: 24px;
				border-left: 7px solid $azul-1;
				padding-left: 14px;

				@media only screen and (min-width: 576px) {
					font-size: 72px;
					margin-left: -23px;
				}
			}

			.informacoes {
				margin-bottom: 24px;

				@media only screen and (min-width: 576px) {
					margin-bottom: 54px;
				}

				@media only screen and (min-width: 992px) {
					margin-bottom: 72px;
				}

				&.tipo-flex {
					display: flex;
					flex-wrap: wrap;
					gap: 24px;
				}
			}

			.descricao {
				font-weight: 400;
				font-size: 14px;
				line-height: 172%;
				letter-spacing: -0.01em;
				color: #000000;

				@media only screen and (min-width: 576px) {
					font-size: 16px;
				}

				@media only screen and (min-width: 992px) {
					font-size: 20px;
				}
			}

			.fale-com {
				font-weight: 700;
				font-size: 16px;
				line-height: 100%;
				color: $azul-1;

				img {
					margin-right: 16px;
				}

				@media only screen and (min-width: 576px) {
					font-size: 24px;
				}
			}

			&[data-item="inicio"] {
				min-height: 1500px;
			}

			&[data-item="certificado"] {}
		}

		&[data-item-ativo="inicio"] {
			background: {
				image: url($pasta-imagens + "bg_imagem_2.png");
				repeat: no-repeat;
				position: right bottom $altura-rodape;
			}
		}

		&[data-item-ativo="certificado"] {}
	}

	.rodape {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		height: $altura-rodape;
		line-height: $altura-rodape;
		background-color: $verde-2;

		span {
			display: inline-block;
			margin-left: 64px;
			margin-right: 16px;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			color: #FFFFFF;

			@media only screen and (min-width: 576px) {
				margin-left: 106px;
			}

			@media only screen and (min-width: 1200px) {
				margin-left: 148px;
			}
		}

		img {
			width: 150px;
			vertical-align: middle;

			@media only screen and (min-width: 768px) {
				width: 212px;
			}
		}
	}
}